@import "colors.generated.rasi"

* {
    black: #000000;
    red: #eb6e67;
    green: #95ee8f;
    yellow: #f8c456;
    blue: #6eaafb;
    magenta: #d886f3;
    cyan: #6cdcf7;
    emphasis: #3d4a66;
    text: #f4f6fb;
    text-alt: #d0d4de;
    fg: #f4f6fb;
    bg: #141820;

    spacing: 0;
    background-color: transparent;
    font: "Hack Nerd Font 15";
    text-color: @text;
}

window {
    transparency: "real";
    fullscreen: false;
    width: 45em;
    padding: 18;
    border: 2;
    border-color: @blue;
    background-color: argb:f2141820;
}

mainbox {
    padding: 8;
    background-color: argb:f2141820;
}

inputbar {
    margin: 0px 0px 14px 0px;
    padding: 10px 12px;
    background-color: #1c2230;
    children: [prompt, textbox-prompt-colon, entry, case-indicator];
}

prompt {
    text-color: @blue;
}

textbox-prompt-colon {
    expand: false;
    str: ":";
    text-color: @text-alt;
}

entry {
    margin: 0px 10px;
    placeholder: "Type to search";
    text-color: @text;
}

listview {
    lines: 12;
    spacing: 4px;
    dynamic: true;
    scrollbar: false;
}

element {
    padding: 8px 10px;
    text-color: @text;
    highlight: bold #95ee8f;
    border-radius: 2px;
}

element selected.normal {
    background-color: @blue;
    text-color: #11141a;
}

element selected.active {
    background-color: @blue;
    text-color: #11141a;
}

element normal.urgent {
    text-color: @red;
}

element selected.urgent {
    text-color: @red;
}

element normal.active {
    text-color: @magenta;
}

element-icon {
    size: 1em;
}

message {
    padding: 8px;
    background-color: #1c2230;
    border: 1px;
    border-color: @cyan;
}

button selected.normal {
    padding: 8px;
    background-color: @blue;
    text-color: #11141a;
}
